backend/.env.development
backend/.env.production

frontend/.env.development
frontend/.env.production

backend/scrambler/tnoodle.log

scrambling/node_modules
scrambling/.env.development
scrambling/.env.production
scrambling/index

database/.env.development

.env
.env.*

data/
