backend/.env.development
backend/.env.production

frontend/.env.development
frontend/.env.production

backend/cronjob/crontab

backend/scrambler/tnoodle.log

scrambling/node_modules
scrambling/.env.development
scrambling/.env.production
scrambling/index

database/.env.development

.env
.env.*
!.env.example

data/

.github/workflows/old_deploy.yml
